<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/pfyu" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean>

	<!-- For Hibernate 4: Annotation -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>org.pfyu.testfix.data.entity.Testfix</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory
				</prop>
			</props>
		</property>
	</bean>

	<!-- For Hibernate 4: Mapping -->
<!-- 	<bean id="sessionFactory" -->
<!-- 		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"> -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 		<property name="mappingResources"> -->
<!-- 			<list> -->
<!-- 				<value>org/appfuse/model/Module.hbm.xml</value> -->
<!-- 				<value>org/appfuse/model/Role.hbm.xml</value> -->
<!-- 				<value>org/appfuse/model/RoleAuth.hbm.xml</value> -->
<!-- 				<value>org/appfuse/model/StaffRole.hbm.xml</value> -->
<!-- 				<value>org/appfuse/model/Staff.hbm.xml</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 		<property name="hibernateProperties"> -->
<!-- 			<props> -->
<!-- 				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> -->
<!-- 			</props> -->
<!-- 		</property> -->
<!-- 	</bean> -->

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory">
	</bean>

	<bean id="testfixDAO"
		class="org.pfyu.testfix.dao.TestFixDAOImpl" p:sessionFactory-ref="sessionFactory">
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>


</beans>